* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  background-image: url(https://scontent-b-iad.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1395379_10151803069949072_195228374_n.jpg?oh=89653789ddb60f0031a83514bbc21179&oe=551CCBC6);
  background-size: 100%;
    background-position: top;
}

header{
    font-family: 'Tangerine', cursive;
    font-size: 80px;
    position: relative;
    color: #FFCCFF;
    line-height:50px;
    margin: 10px;
}
wrapper {
	min-height:100%;
	position:relative;
}

nav {
    font-size: 30px
}

nav a:hover {
    border-bottom: 2px solid #F5F5F5;
}

section {
    font-family: 'PT Serif', serif;
    font-size: 18px;
}

#mainContainer
        {
        margin:20px auto;
        width: 90%;
        padding-bottom: 20px;
         }

#content-section{
    background-color: #F5F5F5;
    border: 5px #FFCCFF solid;
    box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.75);
  margin-top: 10px;
  width:800px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#content-section h1{

    text-align: left;
}

#content-section a{
    color: black;
    text-decoration: underline;
}
    

h1 {
    font-family: 'Tangerine', sans-serif;
    font-size: 50px;
    
}

h2, h3, h4 {
    text-align: left;
    font-size: 18px;
    color: #000;
}

p {s
    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
img {
    border: 4px solid #7e6ff3;
    margin: 10px;
    padding: 5px;
    width: auto;
    height: 350px;
    display: inline; 
    float: center;
}

figcaption { 
    font-family: 'PT Serif', serif;
    color: #000000;
    font-size: 16px;
    display: block;
}

aside {
    float: right;
}

figcaption {
    text-align: center; 
}

footer {
    font-family: 'Tangerine', sans-serif;
    color: #FFCCFF;
    font-size: 30px;
    text-align: right;
    width: 100%;
    position: relative;
	height:30px;
	bottom:0;
	left:0;
    clear: both;
    padding: 0 10px 0 10px;
    margin-top: 10px;
}
    
a:visited, a:hover, a:link, a:active{
    color: #FFCCFF;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    body {
        padding: 3%;
    }
    nav li {
        display: inline;
}
    