* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  background-image: url(https://scontent-b-iad.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1395379_10151803069949072_195228374_n.jpg?oh=89653789ddb60f0031a83514bbc21179&oe=551CCBC6);
  background-size: 100% auto;
  background-position: center;
}

header{
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    font-color: #FFCCFF;
    position: relative;
    line-height:48px;
    margin: 10px;
}
wrapper {
	min-height:100%;
	position:relative;
}

nav {
    font-size: 35px
}

section {
    font-family: Arial;
    font-size: 18px;
    
}
h1 {
    color: black;
}

h2, h3, h4 {
    font-size: 22px;
    color: black;
}

p {
    font-family: arial;
    font-size: 16px;
    line-height: 22px;
}
img {
    border: 10px solid #cccccc;
    margin: 20px;
    padding: 50px;
    width: 100%:
    display: inline; 
}

footer {
    font-family: 'Tangerine', sans-serif;
    color: #FFCCFF;
    font-size: 30px;
    text-align: right;
    width: 100%;
    position: absolute;
	height:30px;
	bottom:0;
	left:0;
}

a:visited, a:hover, a:link, a:active{
    color: #FFCCFF;
    text-decoration: none;
}